@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    #main {
        width: 90%;
    }

    #main-image {
        height: 290px;
    }

   nav{
    margin-right: -20px;
    letter-spacing: -1px;
   }

    #portifolio {
        display: none;
    }

    #logo {
        margin-left: -130px;
    }

    .main-content-title {
        margin-top: 40px;
        font-size: 1.3em;
    }

    .main-content-text {
        font-size: 16px;
        text-indent: 8px;
        line-height: 1.4;
    }

    .gallery-card {
        margin: 3px;
    }

    .gallery-title {
        margin-top: 10px;
        letter-spacing: 1px;
        font-size: 14px;
    }

    .gallery-text {
        font-size: 13px;
    }

    .photos {
        height: 120px;
    }

    .image {
        height: 400px;
    }

    .image-title {
        margin: 20px 0px 0px 30px;
        font-size: 2em;
    }

    .image-text {
        display: none;
    }

    .alt-text {
        display: block;
        position: absolute;
        margin: 132px 0px 0px 30px;
        width: 50%;
        font-size: 1.07em;
        line-height: 1.5;
        color: white; 
    }

    .contact{
        font-size: 18px;
    }
}